:root {
  --mdc-theme-background: #fafafa;
  --mdc-theme-primary: #0168ab;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mdc-top-app-bar {
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-position: right;
}

.mdc-top-app-bar img {
  height: 2.5rem;
  vertical-align: middle;
}
